<!DOCTYPE html>
<html lang="en">
<head>
 {{> headerlinks}}
</head>
<body>
 
{{> header}}
  

<main>
  <section class="section-1 ">
    <div class="container  my-52 mx-auto flex  flex-col-reverse lg:flex-row lg:items-center lg:space-x-32">
    <div class="left space-y-10 text-center mt-20 lg:mt-0 lg:text-left  lg:flex-1 mx-auto lg:mx-0 lg:w-1/2" >
      <h3 class="text-slate-600 font-medium">Welcome to Weather app</h3>
      <h1 class="text-3xl font-bold" >Get The Latest <span class="text-cyan-500">Weather</span>  Info Of Your City</h1>
      <button class="uppercase px-6 py-3 bg-slate-200  rounded-3xl shadow-lg hover:shadow-xl"> <a href="/weather">check now</a> </button>

    </div>
    <div class="  right  mt-20 px-10 mx-auto lg:mx-0 lg:px-0 lg:w-1/2">
      <img class=" rounded-md scale-in-center   lg:mb-0 relative" src="./images/yes.jpg" alt="">

    </div>
  </div>
  </section>

</main>
{{>footer}}

</body>
</html>