<header class="header bg-slate-700">
  <nav class="header_nav flex justify-between items-center px-4 py-6">
    <div class="logo italic text-white text-lg">
      ABDU
    </div>
    <div class="nav_items">
      <ul class="flex  space-x-5 text-white uppercase font-sans font-bold">
        <li ><a href="/about">About</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/">Home</a></li>
       
      </ul>
    </div>
  </nav>
</header>